body{
    font-family: 'Averia Libre', cursive;
}
.infor-header h1 {
    font-size: 50px;
    font-weight: 700;
}

.infor-header h1 {
    font-size: 40px;
    font-weight: 600;
}
.infor-body i {
    margin-right: 10x; 
}

.infor-social a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background-color: #444;
    color: whitesmoke;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
    transition: all 0.4s ease 0s; 
}

.infor-social .facebook:hover{
    background-color: #3b5998;
}
.infor-social .youtube:hover{
    background-color: #c4302b;
}
.infor-social .instagram:hover{
    background-color: rgb(var(--d69,0,149,246),1);
}
.infor-social .twitter:hover{
    background-color: #00acee;
}
.infor-social .skype:hover{
    background-color: #00aff0;
}

.img-in{
    width: 550px;
    top: 100px;
}

section h2 {
    font-size: 32px;
    font-weight: 700;
}

footer {
    border-top: 1px solid;
    margin-top: 5rem;
    padding-top: 20px;
}

footer h4 {
    font-weight: 700;
}
footer .nav-link {
    color: black;
}
footer .facebook:hover {
    color: #3b5998;
}
footer .youtube:hover {
    color: #c4302b;
}
footer .instagram:hover {
    color: rgb(var(--d69,0,149,246),1);
}
footer .twitter:hover {
    color: #00acee;
}
footer .skype:hover {
    color: #00aff0;
}
footer i {
    margin-right: 5px;
}




